body {
  background-color: #f3e5d8;
  margin-top: 250px
}
h1 {
  text-align: center;
  text-shadow:1px 1px 2px black;
  font-family: "Playfair Display", serif;
  font-size: 50px;

}

h2,h4 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Playfair Display", serif;
}

a {
  color: #990000

    }
a:link {
  text-decoration: none;
}
a:hover{
  color: purple;
  text-shadow: 2px 2px 4px #000000;
}
p {
  color: #4d2600;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Playball", cursive;
  font-size: 25px;
}
